body{
  background-color:rgb(199, 249, 204);;
}

#mainHeading{
  color: rgb(34, 87, 122);
  font-weight:bold ;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#description{
  color:rgb(34, 87, 122);
  font-weight: lighter;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  text-align: center;
}
#newacc, #existacc, #signupForm, #loginForm, #newAccBtn, #existAccBtn{
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  text-align: center;
  width: 300px;
  margin:auto;
  padding:10px;
  border-radius: 8px;
  cursor: pointer;
}
.form-box {
  display: none; /* hidden until button click */
  background-color: white;
  color: black;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}
