[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "python manage.py collectstatic --noinput || true"
]

[start]
cmd = "python manage.py migrate && gunicorn habittree.wsgi:application --bind 0.0.0.0:$PORT"

